# SimpleHTTP ENV example
# For SureSQL we are not using this, it will be overwritten by SureSQL environment
SIMPLEHTTP_FRAMEWORK=fiber
SIMPLEHTTP_PORT=5130
SIMPLEHTTP_APP_NAME="SureSQL"
SIMPLEHTTP_HOST_NAME="localhost"
# A duration string is a possibly signed sequence of decimal numbers,
# each with optional fraction and a unit suffix, such as "300ms", "-1.5h" or "2h45m".
# Valid time units are "ns", "us" (or "µs"), "ms", "s", "m", "h".
SIMPLEHTTP_READ_TIMEOUT=30s
SIMPLEHTTP_WRITE_TIMEOUT=30s
SIMPLEHTTP_IDLE_TIMEOUT=30s
# Boolean: true | false
SIMPLEHTTP_DEBUG=false
SIMPLEHTTP_FRAMEWORK_STARTUP_MESSAGE=false
