# Default SureSQL Environment
# Everything with prefix DB_ is for internal DBMS that is wrapped with SureSQL. Currently only RQLite
# Hostname for SureSQL BE which has to be inside the rqlite instance, usually
# is localhost OR the container name!
DB_HOST="dbms-host"
# PORT is optional, especially when sureSQL is set using domain
DB_PORT=
DB_USERNAME=user
DB_PASSWORD=password
# This is not yet needed, the DB name
DB_DATABASE=
# SSL always true, or at least default true
DB_SSL=true
# This is specific for RQLite
# Please put all options together with amphersand "&" and also
# surround all OPTIONS with quote since usually its "key=value" format
# level=strong|weak|none  & disableClusterDiscovery=true  &    timeout=30
# example: level=none&timeout=30
#          "disableClusterDiscovery=true"
# NOTE: disableCusterDiscovery must be TRUE if this is only 1 instance!!
DB_OPTIONS="disableClusterDiscovery=true"
# Consistency level, available are: none, weak, linearizable, strong
# ConsistencyLevelNone provides no consistency to other nodes.
# ConsistencyLevelWeak provides a weak consistency that guarantees the
# queries are sent to the leader.
# ConsitencyLevelLinearizable provides a linearizable consistency and
# guarantees that read result will reflect all previous writes.
# ConsistencyLevelStrong provides a strong consistency and guarantees
# that the read result will reflect all previous writes and that all
# previously commmitted writes in the Raft log have been applied..
DB_CONSISTENCY=

# For extra layer of security, this is not exactly OAUTH because that would be
# slow, but this is a predefined TOKEN and also the JWE_KEY for encryption
DB_TOKEN=
DB_TOKEN_REFRESH=
DB_JWE_KEY=

# For direct connection to rqlite or other DB, this is optional there are some default hard-code value
# Values usually are in seconds, instead of DB_MAX_RETRIES which integer
# Valid time units are "ns", "us" (or "µs"), "ms", "s", "m", "h"
DB_HTTP_TIMEOUT=30
DB_RETRY_TIMEOUT=10
DB_MAX_RETRIES=3

# This is for SureSQL client app. Everytime client make a new app, there is
# new API_KEY generated
DB_API_KEY=HAHA
# This is for SureSQL client. Every client have a unique CLIENT_ID and this
# cannot be changed
DB_CLIENT_ID=Yudi
# This is for SureSQL internal API endpoints
SURESQL_INTERNAL_API="/suresql"
SURESQL_IP=127.0.0.1
SURESQL_HOST=medatech-dbone-master.happyrich.uk
SURESQL_PORT=
SURESQL_SSL=false
# This option currently is RQLITE, in future could be POSTGRES, MYSQL etc
SURESQL_DBMS=RQLITE
